<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= recipe.name %> created by <%= currentUser.username %></h1>
    <p>Instructions: </p>
    <% if (recipe.instructions) { %>
        <p> <%= recipe.instructions %> </p>
    <% } %>
    <p>ingredients: </p>
    <% if (recipe.ingredients.length > 0) { %>
        <% recipe.ingredients.forEach((ingredient) => { %>
            <p><%= ingredient.name %></p>
        <% }) %>
    <% } %>
    <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>/edit">Edit this application</a>

    <form
      action="/users/<%= user._id %>/recipes/<%= recipe._id %>?_method=DELETE"
      method="post">
      <button type="submit">Delete this recipe</button>
    </form>

</body>
</html>